<div class="formulaire">
<h3 class="title">Modifier les informations de la boutique</h3>
<div class="form-color">
    
    <form #updateshopForm="ngForm" (ngSubmit)="onSubmit(updateshopForm)" method="POST">
        <div>
            <!-- Raison sociale --> 
            <div class="mb-3">
                <label for="id-name" class="form-label">Raison sociale</label>
                <input
                    type="text"
                    class="form-control"
                    id="id-name"
                    name="name"
                    [(ngModel)]="shop.name"
                    #name="ngModel"
                    minlength="1" 
                    maxlength="50"
                    placeholder="Raison sociale"
                    [class.is-invalid]="name.invalid && (name.touched || updateshopForm.submitted)" 
                />
                <div class="invalid-feedback">Veuillez entrer la raison sociale.</div>
            </div>

            <!-- Numéro SIRET -->
            <div class="mb-3">
                <label for="id-siret" class="form-label">Numéro SIRET</label>
                <input
                    type="text"
                    class="form-control"
                    id="id-siret"
                    name="siret"
                    [(ngModel)]="shop.siret"
                    #siret="ngModel"
                    pattern="\d{14}"
                    [class.is-invalid]="siret.invalid && (siret.touched || updateshopForm.submitted)"                />
                <div class="invalid-feedback">Veuillez entrer un numéro SIRET valide (14 chiffres).</div>
            </div>

        
            <!-- Adresse -->
            <div class="mb-3">
                <label for="id-address" class="form-label">Adresse</label>
                <input
                    type="text"
                    class="form-control"
                    id="id-address"
                    name="address"
                    [(ngModel)]="shop.address"
                    #address="ngModel"
                    minlength="4" 
                    maxlength="60"
                />
                <div class="invalid-feedback">Veuillez entrer une adresse valide.</div>
            </div>

            <!-- Catégorie -->
            <!-- <div class="mb-3">
                <label for="id-category" class="form-label">Catégorie</label>
                <select
                    class="form-select"
                    id="id-category"
                    name="category"
                    required
                >
                    <option value="">Sélectionnez une catégorie</option>
                    <option *ngFor="let cat of categories" [value]="cat.id_category">{{ cat.name }}</option>
                </select>
                <div class="invalid-feedback">Veuillez sélectionner une catégorie.</div>
            </div> -->

            <!-- Phone -->
            <div class="mb-3">
                <label for="id-phone" class="form-label">Téléphone</label>
                <div class="input-group has-validation">
                <input
                type="tel"
                class="form-control"
                id="id-phone"
                name="phone"
                [(ngModel)]="shop.phone"
                #phone="ngModel"
                minlength="10" 
                maxlength="14"
                pattern="(\d{2}-){4}\d{2}"
                (input)="formatPhone($event)"
                />
                <div class="invalid-feedback">Format invalide (ex : 06-66-66-66-66)</div>
                </div>
            </div>

            <!-- Horaires d'ouverture -->
            <!-- <p>Horaires d'ouverture</p>
            <div class="horaires mb-3">
                <div class="row">
                <div class="col-12 mb-2" *ngFor="let day of days">
                    <div class="d-flex align-items-center">
                    <input type="checkbox" id="{{ day.day }}" [(ngModel)]="day.isOpen" class="checkbox me-2" (change)="onDayChecked(day)" name="isOpen_{{ day.day }}">
                    <label [for]="day.day" class="fw-bold me-3">{{ day.day | uppercase }}</label>
                    
                    <button *ngIf="day.isOpen" type="button" class="btn btn-success btn-sm btn-add" (click)="addSlot(day)">+ Ajouter un créneau</button>
                    </div>
            
                    <div *ngIf="day.isOpen">
                    <div class="time-slot d-flex align-items-center mt-2" *ngFor="let slot of day.timeSlots; let i = index">
                        <select [(ngModel)]="slot.startHour" name="startHour_{{ day.day }}" class="form-select me-2">
                        <option *ngFor="let hour of hours" [value]="hour.id_hour">{{ hour.hour }}</option>
                        </select>
                        <span class="me-2">-</span>
                        <select [(ngModel)]="slot.endHour" name="endHour_{{ day.day }}" class="form-select me-2">
                        <option *ngFor="let hour of hours" [value]="hour.id_hour">{{ hour.hour }}</option>
                        </select>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteSlot(day, i)">×</button>
                    </div>
                    </div>
            
                    <div *ngIf="!day.isOpen" class="mt-2">
                    <span class="text-danger">FERMÉ</span>
                    </div>
                </div>
                </div>
            </div> -->
            

            <!-- Photo -->
            <div class="mb-3">
                <label for="id-photo" class="form-label">Photo</label>
                <div class="img-container">
                    <img class="shop-icon" [src]=" baseUrl + shop.image" alt="Logo">
                </div>
                <input
                    type="file"
                    class="form-control"
                    id="id-photo"
                    name="photo"
                    accept="image/*" 
                    (change)="onPhotoSelected($event)"
                />
                <div class="invalid-feedback">Veuillez télécharger une photo au format valide (JPEG, PNG, etc.).</div>
            </div>



            <!-- Logo -->
            <div class="mb-3">
                <label for="id-logo" class="form-label">Logo</label>
                <div class="img-container">
                    <img class="shop-icon" [src]=" baseUrl + shop.logo" alt="Logo">
                </div>
                <input
                    type="file"
                    class="form-control"
                    id="id-logo"
                    name="logo"
                    accept="image/*" 
                    (change)="onLogoSelected($event)"
                />
                <div class="form-text">Le logo doit être au format SVG, PNG, JPG.</div>
            </div>


            <!-- Description -->
            <div class="mb-3">
                <label for="id-description" class="form-label">Description</label>
                <textarea
                    class="form-control"
                    id="id-description"
                    name="description"
                    rows="5"
                    [(ngModel)]="shop.description"
                    #description="ngModel"
                    minlength="4" 
                    maxlength="1500"
                ></textarea>
            </div>


            <!-- Horaires -->
            <!-- <p>Horaires d'ouverture</p> -->
            <!-- <div class="horaires mb-3">
                <div class="row">
                  <div class="col-12 mb-2" *ngFor="let day of days">
                    <div class="d-flex align-items-center">
                      <input type="checkbox" id="{{ day.day }}" [(ngModel)]="day.isOpen" class="checkbox me-2" name="isOpen_{{ day.day }}">
                      <label [for]="day.day" class="fw-bold me-3 l-fixed">{{ day.day | uppercase }}</label>
                      
                      <button *ngIf="day.isOpen" type="button" class="btn btn-success btn-sm btn-add" (click)="addSlot(day)">
                        + Ajouter un créneau
                      </button>
                    </div>
              
                    <div *ngIf="day.isOpen">
                      <div class="time-slot d-flex align-items-center mt-2" *ngFor="let slot of day.timeSlots; let i = index">
                        <select [(ngModel)]="slot.startHour" class="form-select me-2">
                          <option *ngFor="let hour of hours" [value]="hour.id_hour">{{ hour.hour }}</option>
                        </select>
                        <span class="me-2">-</span>
                        <select [(ngModel)]="slot.endHour" class="form-select me-2">
                          <option *ngFor="let hour of hours" [value]="hour.id_hour">{{ hour.hour }}</option>
                        </select>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteSlot(day, i)">×</button>
                      </div>
                    </div>
              
                    <div *ngIf="!day.isOpen" class="mt-2">
                      <span class="text-danger">FERMÉ</span>
                    </div>
                  </div>
                </div>
            </div> -->



            <div>
                <button class="w-100 btn-submit" type="submit" [disabled]="updateshopForm.invalid">Enregistrer les modifications</button>
            </div>
        </div>
    </form>
</div>
</div>
