section {
    background-color: white;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    gap: 20px; /* Espacement entre les éléments */
    padding: 20px;
}

.product-item {
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.product-item:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.product-item img {
    max-width: 100%;
    border-radius: 5px;
}

.product-item > p:first-child {
    font-size: 14px;
    color: #666;
}

.promo {
    background-color: #AA3F24;
    color: white;
    padding: 8px;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}
.price {
    color: #AA3F24;
    font-weight: bold;
}
.img-product {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.reduction {
    color: #AA3F24;
    font-size: 12px;
}
.og-price {
    font-size: 12px;
}
.position {
    position: relative;
}
.product-title {
    margin-top: 10px;
    text-transform: uppercase;
}

/* Responsive Design */
@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}