<section>
    <form class="fond d-flex flex-column">
        <h3>Une question ? Envoyez-nous un message.</h3>
        <div class="mb-3">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom" placeholder="Entrez votre prénom" required>
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Entrez votre email" required>
        </div>
        <div class="mb-3">
            <label for="objet" class="form-label">Objet</label>
            <input type="text" class="form-control" id="objet" placeholder="Entrez l'objet de votre message" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="4" placeholder="Entrez votre message" required></textarea>
        </div>
        <button type="submit" class="btn btn-color">Envoyer le message</button>
    </form>
</section>