<div class="d-flex flex-column m-auto m-3 w-50 w-100-md">
    <legend class="h2 fw-bold text-center">Créer un compte</legend>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="needs-validation" novalidate>
      <!-- First Name -->
      <div class="mb-3">
        <label for="firstname" class="form-label">Prénom</label>
        <div class="input-group has-validation">
          <input
            type="text"
            class="form-control"
            id="firstname"
            name="firstname"
            ngModel
            required
            [class.is-invalid]="loginForm.submitted && firstname.invalid"
            #firstname="ngModel"
            minlength="4" 
            maxlength="32"
            pattern="[a-zA-Z\s\-]+"
          />
          <div class="invalid-feedback">Format invalide (4-32 caractères).</div>
        </div>
      </div>
  
      <!-- Last Name -->
      <div class="mb-3">
        <label for="lastname" class="form-label">Nom</label>
        <div class="input-group has-validation">
          <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            ngModel
            required
            [class.is-invalid]="loginForm.submitted && lastname.invalid"
            #lastname="ngModel"
            minlength="4" 
            maxlength="32"
            pattern="[a-zA-Z\s\-]+"
          />
          <div class="invalid-feedback">Format invalide (4-32 caractères)..</div>
        </div>
      </div>
  
      <!-- Phone -->
      <div class="mb-3">
        <label for="phone" class="form-label">Téléphone</label>
        <div class="input-group has-validation">
          <input
            type="tel"
            class="form-control"
            id="phone"
            name="phone"
            ngModel
            required
            [class.is-invalid]="loginForm.submitted && phone.invalid"
            #phone="ngModel"
            minlength="10" 
            maxlength="10"
            maxlength="14"
            pattern="(\d{2}-){4}\d{2}"
            (input)="formatPhone($event)"
          />
          <div class="invalid-feedback">Format invalide (ex : 06-66-66-66-66)</div>
        </div>
      </div>
  
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <div class="input-group has-validation">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            ngModel
            required
            [class.is-invalid]="loginForm.submitted && email.invalid"
            #email="ngModel"
          />
          <div class="invalid-feedback">Format invalide (example&#64;mail.com).</div>
        </div>
      </div>
  
      <!-- Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <div class="input-group has-validation">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            ngModel
            required
            [class.is-invalid]="loginForm.submitted && password.invalid"
            #password="ngModel"
            minlength="8" 
            maxlength="32"
          />
          <div class="invalid-feedback">Format invalide (8-32 caractères).</div>
        </div>
      </div>
  
      <!-- Submit Button -->
      <div>
        <button class="my-3 w-100 btn c1" type="submit">S'inscrire</button>
      </div>
    </form>
    <a (click)="navToLogin()" class="pcfx text-center">Vous avez déjà un compte ? Connectez-vous</a>
  </div>
  